# copy this file to .env and edit the values as needed

# required
HTTP_PORT="3000"

# optional: default is "info"
LOG_LEVEL="info"

# amqp broker
AMQP_URI="amqp://localhost:5672"

# check https://webhook.site
HTTP_CALLBACK="https://webhook.site/{YOUR-KEY}"

# Azure Document Intelligence
DOCUMENT_INTELLIGENCE_ENDPOINT="https://[YOUR-SERVICE].cognitiveservices.azure.com/"
DOCUMENT_INTELLIGENCE_API_KEY="YOUR-SUBS-KEY"
